<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
    <h1>Login Form</h1>

    <form action="/login" method="post" th:object="${loginDto}">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" th:field="*{username}">
            <!-- Display validation error for username -->
            <div th:if="${#fields.hasErrors('username')}" style="color: red;">
                <span th:errors="*{username}"></span>
            </div>
        </div>
        <br>

        <div>
            <label for="password">Password:</label>
            <input type="text" id="password" name="password" th:field="*{password}">
            <!-- Display validation error for password -->
            <div th:if="${#fields.hasErrors('password')}" style="color: red;">
                <span th:errors="*{password}"></span>
            </div>
        </div>
        <br>
        <button type="submit">Login</button>
    </form>

    <!-- Display error message if the login fails -->
    <p th:if="${error}" style="color: red;">[[${error}]]</p>
    
    <p>Not a User?<a th:href="@{/register}">Register here</a></p>
</body>
</html>
