<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome</title>
    <style>
        /* Center the content */
        .welcome-container {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh; /* Full viewport height */
        }
    </style>
</head>
<body>
    <div class="welcome-container">
        <h1>Welcome, <span th:text="${firstName}"></span>!</h1>
        <br>
        <!-- Logout form -->
        <form action="/login/logout" method="get">
            <button type="submit">Logout</button>
        </form>
    </div>
</body>
</html>
