<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome</title>
    <style>
        /* Center the content */
        .welcome-container {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh; /* Full viewport height */
        }
    </style>
</head>
<body>
    <div class="welcome-container">
        <h1>Welcome to the Application!</h1> 
        <br>
		<a th:href="@{/login/logout}">Logout</a>
	</div>
</body>
</html>
